@use "~/assets/scss/variables" as *;
.container
{
	max-width: $widescreen;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	padding: 0 16px;
	box-sizing: border-box;
}
a, .nuxt-link
{
	color: $green;
	text-decoration: none;
	transition: all .1s ease;
	&:hover 
	{
		box-shadow: 0 1px 0 $green;
	}
}
body
{
	font-family: Averta;
	color: $main-font-color;
}
.g-image
{
	transition: all .3s ease;
	&:hover
	{
		border-radius: 20px;
		transform: scale(1.1);
		filter: drop-shadow(0 0 16px $green)
	}
}
h2 {font-size: 32px; }
@media (min-width: $tablet) {
	h2{ font-size: 84px;}
}
@media (min-width: $widescreen) {
	h2{font-size: 124px;}
}