//colors
$main-bg-color: #fff;
$sectond-bg-color: #fff;
$border-color: #004500;
$green: #00A900;
$white: #fff;
$black: #050F03;
$main-font-color: #405F6C;
// screens
$tablet: 768px;
$widescreen: 1302px;

